<!-- LOADING -->
<div data-test="loading-state" *ngIf="getListingRquest.isLoading == true">
  loading
</div>

<!-- SUCCESS -->
<div
  data-test="success-state"
  *ngIf="getListingRquest.isSuccess == true"
  class="giv-container"
>
  <div class="giv-listing-detail-grid">
    <div class="giv-carousel-wrapper">
      <div
        data-test="carousel"
        class="giv-carousel-container giv-full-screen-width"
      >
        <swiper [config]="swiperConfig">
          <div
            data-test="slide"
            *ngFor="let image of listing.listingImages; index as i"
          >
            <img [src]="image.url" alt="" />
          </div>
        </swiper>
      </div>
    </div>

    <div class="giv-listing-info">
      <div data-test="title">
        <h1>{{ listing.title }}</h1>
      </div>

      <div data-test="description">
        <p>{{ listing.description }}</p>
      </div>

      <div data-test="user" class="giv-user-block">
        <img
          data-test="user-avatar"
          class="giv-user-avatar"
          [src]="listing.user.imageUrl"
        />
        <span data-test="user-name" class="giv-user-name">
          {{ listing.user.name }}</span
        >
      </div>

      <a [href]="'https://wa.me/5561981178515'">
        <div data-test="report" class="giv-report-block giv-full-screen-width">
          <i class="material-icons alert">error_outline</i>
          <div class="giv-flex">
            <div class="giv-title">Denúncia</div>
            <div class="giv-content">
              Encntrou algo de errado com este anúncio? Denuncie aqui.
            </div>
          </div>
          <i class="material-icons chevron">chevron_right</i>
        </div>
      </a>
    </div>
  </div>

  <div class="giv-vertical-space"></div>
</div>
