footer {
  display: block;
  border-top: 1px solid var(--giv-divider-color);
  height: 100%;
  color: var(--giv-divider-color);
}

.footer-content {
  display: grid;
  align-items: center;
  grid-template: repeat(3, 1fr) / 1fr;
  padding: 2.4rem 1.2rem;
}

.footer-content div {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

/* TODO: Should be mobile first */
@media only screen and (min-width: 768px) {
  .footer-content {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
  }
}
