<div class="giv-container">
  <giv-home-loading-state
    *ngIf="getCategoriesRequest.isLoading === true"
    data-test="loading-state"
  >
  </giv-home-loading-state>

  <swiper>
    <div>
      Swiper slide content 1
    </div>

    <div>
      Swiper slide content 2
    </div>

    <div>
      Swiper slide content 3
    </div>

    <div>
      Swiper slide content 4
    </div>
  </swiper>

  <giv-home-category-section
    *ngFor="let category of categories; index as i"
    [category]="category"
    data-test="home-category"
    [templateOption]="i === 0 ? '1' : undefined"
  ></giv-home-category-section>
</div>
