:root {
  /* fonts */
  --giv-font-size-title: 2.4rem;
  --giv-font-size-paragraph: 1.4rem;

  /* spacing */
  --giv-default-vertical-spacing: 4.8rem;
  --giv-default-padding: 2.4rem;

  /* colors */
  --giv-divider-color: var(--material-color-grey-200);

  /* misc */
  --giv-default-border-radius: 5px;
}
