/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:root {
  font-size: 62.5%;
}

.giv-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1224px;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  height: 100%;
}

.giv-full-screen-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.giv-flex {
  flex: 1;
}

/* swiper */

.giv-carousel-container swiper > .swiper.s-wrapper .swiper-button-next,
.giv-carousel-container swiper > .swiper.s-wrapper .swiper-button-prev {
  visibility: hidden;
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .giv-carousel-container swiper > .swiper.s-wrapper .swiper-button-next,
  .giv-carousel-container swiper > .swiper.s-wrapper .swiper-button-prev {
    color: white;
    visibility: visible;
  }

  .giv-carousel-container swiper > .swiper.s-wrapper .swiper-button-prev,
  .giv-carousel-container swiper > .swiper.s-wrapper .swiper-button-prev:after {
    font-family: 'Material Icons';
    content: 'navigate_before';
  }

  .giv-carousel-container swiper > .swiper.s-wrapper .swiper-button-next,
  .giv-carousel-container swiper > .swiper.s-wrapper .swiper-button-next:after {
    font-family: 'Material Icons';
    content: 'navigate_next';
  }
}

.giv-carousel-container
  swiper
  > .swiper.s-wrapper
  .swiper-pagination
  .swiper-pagination-handle
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
}

.giv-carousel-container
  swiper
  > .swiper.s-wrapper
  .swiper-pagination
  .swiper-pagination-handle
  .swiper-pagination-bullet.swiper-pagination-bullet-first,
.giv-carousel-container
  swiper
  > .swiper.s-wrapper
  .swiper-pagination
  .swiper-pagination-handle
  .swiper-pagination-bullet.swiper-pagination-bullet-last {
  border: none;
}

.giv-carousel-container
  swiper
  > .swiper.s-wrapper.swiper-container-horizontal
  > .swiper-pagination
  .swiper-pagination-handle
  .swiper-pagination-bullet.swiper-pagination-bullet-first,
.giv-carousel-container
  swiper
  > .swiper.s-wrapper.swiper-container-horizontal
  > .swiper-pagination
  .swiper-pagination-handle
  .swiper-pagination-bullet.swiper-pagination-bullet-last {
  margin: 0;
}
